html, body {
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    height: 100%;
}

.overlay {
    position:absolute;
    padding:0;
    margin:0;

    top: 0;
    left: 0;

    width: 100%;
    height: 100%;
    background:rgba(35, 35, 35, 0.75);

    visibility: hidden;
}

.popup {
    position: absolute;

    top: 20vh;
    left: 40vw;

    width: 25vw;
    height: auto;
    background:rgba(35, 35, 35, 0.75);
    border: white solid 2px;
    border-radius: 10px;

    visibility: hidden;
}

#settings-btn {
    position: absolute;
    right: 0.5rem;
    z-index: 1070;
}

#settings-overlay-btns {
    position: absolute center;
    margin-top: 45vh;
    margin-left: 42.5vw;
    margin-bottom: 45vh;
}

#keyboard-controls-overlay .container-fluid {
    margin: 2rem;
    margin-top: 5rem;
}

#keyboard-controls-overlay h3 {
    color: white;
}

#game-popup {
    color: white;
}

#game-popup .container-fluid {
    margin-left: 1rem;
}

#game-title {
    margin-top: 0.5rem;
    margin-right: 1rem;
}

#game-description {
    margin-top: 0.5rem;
    margin-right: 0.75rem;
}

#game-url {
    margin-bottom: 0.5rem;
}