html, body {
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    height: 100%;
}

#taskbar {
    position: absolute;
    top: 0;
}

#taskbar-row {
    height: 5rem;
}

#page-title {
    position: absolute;
    z-index: 1070;
}

.overlay-setup {
    position:absolute;
    padding:0;
    margin:0;

    top: 0;
    left: 0;

    width: 100%;
    height: 100%;
    background:rgba(0, 0, 0, 0.5);

    color:white;

    visibility: hidden;
}

.overlay .container-fluid {
    margin: 2rem;
    margin-top: 5rem;
}

.overlay h3 {
    margin-bottom: 2rem;
}

.fill {
    position: absolute;
    padding:0;
    margin:0;

    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    visibility: hidden;
}

.popup {
    position: absolute;
    width: auto;
    height: auto;

    background:rgba(35, 35, 35, 0.9);
    border: white solid 2px;
    border-radius: 10px;

    color: white;
}

#settings-btn {
    position: absolute;
    right: 2rem;
    z-index: 1070;
}

#settings-overlay-btns {
    position: absolute center;

    width: 20rem;

    margin: auto;
}

#settings-overlay-btns button {
    width: 20rem;
}

.keybind-container {
    width: 100%;
    height: 50px;
    margin-bottom: 1rem;
}

.keybind-container p {
    margin-top: auto;
    margin-bottom: auto;
}

.keybind-container .row {
    width: 100%;
}

.keybind-btn {
    width: 100%;
}

#keybind-error, #keybind-illegal {
    visibility: hidden;
}

#keybind-error p, #keybind-illegal p {
    margin-bottom: 0.5rem;
}

#game-popup {
    padding-top: 2rem;
    padding-bottom: 2rem;

    width: 55vw;
}

#game-popup .container-fluid {
    margin-left: 1rem;
}

#game-title {
    margin-top: 0.5rem;
    margin-right: 1rem;
}

#game-description {
    margin-top: 0.5rem;
    margin-right: 0.75rem;
}

#game-url {
    margin-bottom: 0.5rem;
}

.full-height {
    height: 100%;
}

#nav-bar-toggle-btn {
    position: absolute;
    right: 8rem;
    z-index: 1070;
}

#nav-bar {
    padding-top: 5rem;
    padding-left: 2rem;
    padding-right: 1rem;

    color: white;
}

#nav-bar-game-lst {
    max-width: 30rem; 
    max-height: 86.05vh;

    margin-top: 1rem;
}

#nav-bar-game-lst div {
    padding-right: 1rem;
}

#nav-bar-game-lst button {
    width: 100%;
    word-wrap: break-word;
}

#nav-bar-game-lst .row, #nav-bar-game-lst .col {
    height: auto;
    margin-bottom: 0;
}

.card {
    width: 18rem;
    margin-bottom: 2rem;
}

#offcanvasExample {
    width: 32.5rem;
    background-color: rgb(0, 0, 0, 0.9);
}

.nav-bar-tab {
    margin-bottom: 1rem;
}

.tab-btn-col {
    padding-left: 0;
    padding-right: 0;
}

#chat-popup {
    width: 45rem;
    height: 40rem;
    left: 5rem;

    background: none;
    border: none;
}

#chat-popup-body {
    position: absolute;
    width: 40rem;
    height: 40rem;

    z-index: 2;

    padding: 1rem;

    top: 0;
    left: 0;

    background:rgba(35, 35, 35, 0.9);
    border: white solid 2px;
    border-radius: 10px;

    color: white;
}

.arrow-right {
    position: absolute;
    top: 4.15rem;
    right: 1.5rem;
    z-index: 1;

    width: 0; 
    height: 0; 
    border-top: 38.5px solid transparent;
    border-bottom: 38.5px solid transparent;
    
    border-left: 60px solid white;
}

.arrow-right-white {
    position: absolute;
    top: 4.5rem;
    right: 1.9rem;
    z-index: 3;

    width: 0; 
    height: 0; 
    border-top: 32.5px solid transparent;
    border-bottom: 32.5px solid transparent;
    
    border-left: 52px solid rgb(0, 0, 0, 0.9);
}

.light-blue-btn-sm {
    width: 10rem;

    --bs-btn-color: white;
    --bs-btn-bg: #2a9df4;
    --bs-btn-border-color: #2a9df4;
    --bs-btn-hover-color: white;
    --bs-btn-hover-bg: #187bcd;
    --bs-btn-hover-border-color: #187bcd;
    --bs-btn-focus-shadow-rgb: 11,172,204;
    --bs-btn-active-color: white;
    --bs-btn-active-bg: #1167b1;
    --bs-btn-active-border-color: #1167b1;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: white;
    --bs-btn-disabled-bg: #ADD7FF;
    --bs-btn-disabled-border-color: #ADD7FF;
}

.light-blue-btn-lg {
    width: 25rem;

    --bs-btn-color: white;
    --bs-btn-bg: #2a9df4;
    --bs-btn-border-color: #2a9df4;
    --bs-btn-hover-color: white;
    --bs-btn-hover-bg: #187bcd;
    --bs-btn-hover-border-color: #187bcd;
    --bs-btn-focus-shadow-rgb: 11,172,204;
    --bs-btn-active-color: white;
    --bs-btn-active-bg: #1167b1;
    --bs-btn-active-border-color: #1167b1;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: white;
    --bs-btn-disabled-bg: #ADD7FF;
    --bs-btn-disabled-border-color: #ADD7FF;
}

#chat-club {
    height: 100%;
}

#chat-club-btn-lst {
    padding-left: 3rem;
    padding-right: 3rem;
}

#chat-club-btn-lst .row {
    margin-bottom: 0.5rem;
}

.indent {
    padding-left: 3rem;
}

.chat-back-btn {
    width: 5rem;
    margin-right: 1rem;
    margin-top: 5rem;
}

.dummy-row {
    height: 1rem;
}