html, body {
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    height: 100%;
}

#taskbar {
    position: absolute;
    top: 0;
}

#taskbar-row {
    height: 5rem;
}

#page-title {
    position: absolute;
    z-index: 1070;
}

.overlay-setup {
    position:absolute;
    padding:0;
    margin:0;

    top: 0;
    left: 0;

    width: 100%;
    height: 100%;
    background:rgba(0, 0, 0, 0.5);

    color:white;

    visibility: hidden;
}

.overlay .container-fluid {
    margin: 2rem;
    margin-top: 5rem;
}

.overlay h3 {
    margin-bottom: 2rem;
}

.fill {
    position: absolute;
    padding:0;
    margin:0;

    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    visibility: hidden;
}

.popup {
    position: absolute;
    width: auto;
    height: auto;

    background:rgba(35, 35, 35, 0.9);
    border: white solid 2px;
    border-radius: 10px;

    color: white;
}

#settings-btn {
    position: absolute;
    right: 2rem;
    z-index: 1070;
}

#settings-overlay-btns {
    position: absolute center;

    width: 20rem;

    margin: auto;
}

#settings-overlay-btns button {
    width: 20rem;
}

.keybind-container {
    width: 100%;
    height: 50px;
    margin-bottom: 1rem;
}

.keybind-container p {
    margin-top: auto;
    margin-bottom: auto;
}

.keybind-container .row {
    width: 100%;
}

.keybind-btn {
    width: 100%;
}

#keybind-error {
    visibility: hidden;
}

#keybind-error p {
    margin-bottom: 0.5rem;
}

#game-popup {
    padding-top: 2rem;
    padding-bottom: 2rem;

    width: 55vw;
}

#game-popup .container-fluid {
    margin-left: 1rem;
}

#game-title {
    margin-top: 0.5rem;
    margin-right: 1rem;
}

#game-description {
    margin-top: 0.5rem;
    margin-right: 0.75rem;
}

#game-url {
    margin-bottom: 0.5rem;
}

.full-height {
    height: 100%;
}

#nav-bar-toggle-btn {
    position: absolute;
    right: 8rem;
    z-index: 1070;
}

#nav-bar {
    padding-top: 5rem;
    padding-left: 2rem;
    padding-right: 1rem;

    color: white;
}

#nav-bar-game-lst {
    max-width: 30rem; 
    max-height: 86.05vh;

    margin-top: 1rem;
}

#nav-bar-game-lst div {
    padding-right: 1rem;
}

#nav-bar-game-lst button {
    width: 100%;
    word-wrap: break-word;
}

#nav-bar-game-lst .row, #nav-bar-game-lst .col {
    height: auto;
    margin-bottom: 0;
}

.game-tab {
    margin-bottom: 2rem;
}

#offcanvasExample {
    width: 32.5rem;
    background-color: rgb(0, 0, 0, 0.9);
}

.nav-bar-tab {
    margin-bottom: 1rem;
}

.tab-btn-col {
    padding-left: 0;
    padding-right: 0;
}